// 5. 댓글을 보여주는 table의 tbody에 추가해줌
alert('댓글등록!!');
$('.comment-list').prepend(`
  <tr>
    <td><%= @comment.contents %></td>
    <td></td>
    <td><button class="btn btn-outline-danger delete-comment"><i class="fas fa-times"></i>삭제</button><i class="fas fa-times"></i></td>
  </tr>
  `);
  // 6. input 태그를 비워줌
  $('#comment-input').val('');
